@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

$breakpoint01: 1440px;
$breakpoint02: 1024px;
$breakpoint03: 768px;
$breakpoint04: 320px;

$mainFont: 'Open Sans', sans-serif;


$mainColor: rgb(204, 13, 31);
$sidebarColor: rgb(226, 222, 219);
$heroBannerColor: rgb(172, 172, 172);
$priceColor: rgb(199, 14, 32);
$buyButtonColor: rgb(128, 189, 184);
$blackColor: rgb(35, 31, 32);
$whiteColor: rgb(255, 255, 255);
$grayColor: rgb(118, 118, 118);