@import 'variables';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $mainFont;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: $breakpoint01;
  padding: 0 34px;
  margin: 0 auto;

  @media(max-width: $breakpoint01) {
    max-width: $breakpoint02;
  }

  // @media(max-width: $breakpoint02) {
  //   max-width: $breakpoint03;
  // }
  @media(max-width: 480px) {
    max-width: 99%;
    padding: 0 20px;
  }

}

// HEADER STYLE
#home-header {
  .login-or-register-nav {
    background: $blackColor;
    .container {
      display: flex;
      flex-direction: row-reverse;
      p {
        color: $whiteColor;
        a {
          color: $whiteColor;
          font-weight: 800;
          text-decoration: none;
          transition: .3s ease;
          border-bottom: solid 1px $whiteColor;
          &:hover {
            color: $grayColor;
          }
        }
      }
    }
  }
  .hamburguer-icon {
    background: #fff;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
    display: none;
    @media(max-width: 480px) {
      display: block;
    }
  }
  
  .hamburguer-icon:focus {
    outline: 0;
  }
  
  .hamburguer-icon .line {
    background: $blackColor;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform .6s linear;
  }
  
  .hamburguer-icon .line2 {
    top: auto;
    bottom: 10px;
  }
  
  #hamburguer-nav-button.active .line1 {
    transform: rotate(-405deg) translateY(5.5px);
  }
  
  #hamburguer-nav-button.active .line2 {
    transform: rotate(405deg) translateY(-5.5px);
  }
 
  .logo-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  
    .input-container {
      .search-container {
        position: relative;
        
        @media(max-width: 480px) {

          
          display: none;
          &.active {
            display: block;
            position: absolute;
            z-index: 3;
            left: 22px;
            top: 133px;
          }
        }
        input {
          border: solid 1px $grayColor;
          height: 40px;
          width: 330px;
          margin: 0;
          padding: 0 12px; 
          &:focus {
            outline: none;
          }
          @media(max-width: 640px) {
            width: 250px;
          }
          @media(max-width: 480px) {
            width: calc(100vw - 44px);
            
          }
        }
        .search-btn {
          background: $mainColor;
          color: $whiteColor;
          text-transform: uppercase;
          font-weight: 800;
          border: none;
          height: 100%;
          position: absolute;
          right: 0;
          padding: 0 16px;
          height: 40px;
          margin-left: -8px;
          &:hover {
            cursor: pointer;
          }
        }

        
      }
      #search-mobile-button {
        border: none;
        background: transparent;
        color: $mainColor;
        font-size: 16px;
        display: none;
        cursor: pointer;
        @media(max-width: 480px) {
          display: block; 
        }
        &.active {
          display: block;
        }
      }
    }  
  }
  
  .main-nav {
    width: 100%;
    background: $mainColor;
    @media(max-width: 480px) {
      display: none;
    }
    .container {
      ul {
        margin: 0;
        display: flex;
        list-style: none;
        padding-top: 14px;
        padding-bottom: 14px;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        li {
          flex: 0 0 calc(20% - 100px);
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          a {
            white-space: nowrap;
            text-decoration: none;
            color: $whiteColor;
            text-transform: uppercase;
            font-weight: 700;
            transition: .3s ease;
            &:hover {
              color: $grayColor;
            }
          }     
          
        }
        @media(max-width: $breakpoint03) {
          justify-content: space-between;
          li {
          }
        }   
      }
      
    }
    
  }
}

// MAIN STYLES
.homepage-main {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  @media(max-width: 480px) {
    margin-top: -.8rem;
  }
  .sidebar-pagination-container {
    grid-row: 1 / 3;
    background: $sidebarColor;
    transition: .3s ease;
    display: none;
    &.active {
      display: block;
    }
    @media(max-width: 480px) {
      position: absolute;
      opacity: 0;
      &.active {
        display: block;
        opacity: initial;
        
        width: 100%;
        left: 0;
        text-align: center;
      }
      
    }
    ul {
      margin: 0;
      list-style: none;
      padding-left: 14px;
      padding-bottom: 14px;
      li {
        margin-top: 20px;
        font-size: 22px;
        
        &::before {
          content: '•';
          font-size: 24px;
        }
        a {
          
          color: $blackColor;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .hero-banner-container {
    grid-column: 2/6;
    width: 100%;
    height: 100%;
    background: $heroBannerColor;
    min-height: 100px;
  }

  .hero-text-container {
    grid-row: 2/3;
    grid-column: 2/6;
    p {
      margin: 0;
      font-weight: 400;
      color: black;
    }
    h2 {
      font-weight: 400;
      margin: 0 0 8px 0;
    }
  }
  @media(max-width: $breakpoint02) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    .sidebar-pagination-container {
      grid-row: 1 / 3;
      grid-column: 1/3;
      ul li {
        &::before {
          content: '•';
          font-size: 16px;
        }
        a {
          font-size: 16px;
        }
      }
    }
    .hero-banner-container {
      grid-column: 3/8;
    }
    .hero-text-container {
      grid-row: 2 / 4;
      grid-column: 3 / 8;
    }
  }

  @media(max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-gap: 1rem;
    .sidebar-pagination-container {
      grid-row: unset;
      grid-column: unset;
      ul li {
        &::before {
          content: '•';
          font-size: 16px;
        }
        a {
          font-size: 16px;
        }
      }
    }
    .hero-banner-container {
      grid-column: unset;
    }
    .hero-text-container {
      grid-row: unset;
      grid-column: unset;
    }
  }
}

// FOOTER
.footer-container {
  background: $mainColor;
  min-height: 200px;
  margin-bottom: 30px;
}

// PRODUCTS PAGES STYLES

.product-main {
  
  background: #fff;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  @media(max-width: 480px) {
    flex-direction: column;
  }
  .sidebar-pagination-container {
    background: $sidebarColor;
    transition: .3s ease;
    display: none;
    &.active {
      display: block;
    }
    @media(max-width: 480px) {
      position: absolute;
      opacity: 0;
      &.active {
        display: block;
        opacity: initial;
        
        width: 100%;
        left: 0;
        text-align: center;
      }
      
    }
    ul {
      margin: 0;
      list-style: none;
      padding-left: 14px;
      padding-bottom: 14px;

      li {
        margin-top: 20px;
        font-size: 22px;
        
        &::before {
          content: '•';
          font-size: 24px;
        }

        a {
          color: $blackColor;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .page-location {
    position: absolute;
    left: 34px;
    top: 0;
    p {
      margin: 16px 0;
      color: $grayColor;
      .homepage-link {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: #000;
        }
        &:visited {
          color: #000;
        }
      }
      .actual-page {
        color: $mainColor;
      }
    }
  }

  .filters-container {
    border: solid 1px rgb(220, 220, 220);
    min-width: 220px;
    padding: 20px;
    margin-right: 1rem;
    .title-filter {
      color: $mainColor;
      text-transform: uppercase;
      margin: 0;
    }
    .filter-secondary-title {
      margin: 16px 0 0 0;
      color: $buyButtonColor;
      text-transform: uppercase;
    }
    .filter-list {
      margin: 10px 0 0 0;
      list-style: none;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        
        &::before {
          content: '•';
          font-size: 18px;
        }
        button {
          background: transparent;
          font-size: 18px;
          border: none;
          cursor: pointer;
          margin: 0;
          padding: 0;
          margin-left: 4px;
          color: $grayColor;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .colors-picker-container {
      margin-top: 12px;
      margin-bottom: 20px;
      .color-btn {
        
        width: 50px; 
        height: 30px;
        cursor: pointer;
        border: none;
        background: unset;
        transition: .5s ease;
        &.orange {
          background: rgb(255, 68, 0);
        }
        &.yellow {
          background: rgb(244, 184, 4);
        }
        &.green {
          background: $buyButtonColor;
        }
        &:focus {
          transform: scale(0.95); 
        }
      }
    }
  
  }
  
  .items-section {
    width: 100%;
    .section-title {
      color: $mainColor;
      margin: 0;
    }
    hr {
      border: none;
      border-bottom: solid 1px rgb(221, 221, 221);
    }
    .items-header {
      display: flex;
      justify-content: space-between;
      #menu-icon-01 {
        color: $buyButtonColor;
        cursor: pointer;
      }
      #menu-icon-02 {
        color: $grayColor;
        cursor: pointer;
        margin-left: 12px;
      }
      span {
        text-transform: uppercase;
        color: $grayColor;
        margin-right: 8px;
        font-size: 12px;
        font-weight: 700;
      }
      #order-select {
        width: 165px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        padding: 3px 1rem;
        padding-right: 2rem;
        &:focus {
          outline: none;
        }
      }
    }
    .products-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      .product-card {
        flex: 0 0 22%;
        
        margin: 8px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .product-image {
          border: 1px solid rgb(230, 230, 230);
          max-width: 100%;
        }
        .product-name {
          color: $grayColor;
          text-transform: uppercase;
          text-align: center;
          margin: 4px 0 0 0;
          font-size: 14px;
          font-weight: 400;
        }
        .price-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          .product-offer-price {
            color: gray;
            font-size: 12px;
            text-decoration: line-through;
            margin-right: 14px;
          }

          .product-price {
            text-align: center;
            color: $priceColor;
            font-weight: 800;
            font-size: 16px;
            margin: 6px 0;
          }
        }
        
        .buy-button {
          margin: 0 auto;
          font-weight: 700;
          border: none;
          background: $buyButtonColor;
          color: #fff;
          padding: 6px 10px;
          width: 100%;
          text-transform: uppercase;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
    }

  @media(max-width: $breakpoint02) {
    .product-card {
      max-width: 180px;
    }
  }

  @media(max-width: $breakpoint03) {
    .product-card {
      max-width: 140px;
    }
  }
  
  @media(max-width: 580px) {
    .section-title {
      margin: 8px 0;
    }
    #menu-icon-01 {
      display: none;
    }
    #menu-icon-02 {
      display: none;
    }
    .product-card {
      min-width: 110px;
      .buy-button {
        display: none;
      }
    }
  } 
}
}

#paginate .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(157, 157, 157);

  margin-top: 8px;
  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;

    &:not(.numbers), &.numbers div{
      width: 40px;
      height: 40px;
    }

    &:not(.numbers):hover,
    &.numbers div:hover,
    &.numbers div.active {
      color: $mainColor;
    }
  }
}






// CONTACT PAGE
.contact-main {
  .contact {
    h2 {
      text-align: center;
      margin-bottom: 0;
    }
    form {
      background-color: var(--gray);
      padding: 2rem;
      border-radius: 2rem;
    }
    
    @media (min-width: $breakpoint03) {
      form {
          max-width: 800px;
          margin: 0 auto;
      }
      .form-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
      }
      .field {
          flex: 0 0 calc(50% - 1rem);
      }
    }
    
    .field {
      display: flex;
      margin-bottom: 1rem;
    }
    
    .field label {
      flex: 0 0 90px;
      color: var(--white);
    }
    
    .field input[type="text"],
    .field input[type="tel"],
    .field input[type="mail"],
    .field textarea {
      flex: 1;
      height: 2.4rem;
    }
    
    .w-100 {
      flex: 0 0 100%;
    }
    
    .field textarea {
       height: 5rem;
    }
    
    .submit-form{
      display: flex;
      justify-content: flex-end;
      input {
        background: $mainColor;
        color: #fff;
        outline: none;
        border: none;
        padding: 8px 30px;
        border-radius: 8px;
      }
    }
  }
}