@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 34px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      max-width: 1024px; } }
  @media (max-width: 480px) {
    .container {
      max-width: 99%;
      padding: 0 20px; } }

#home-header .login-or-register-nav {
  background: #231f20; }
  #home-header .login-or-register-nav .container {
    display: flex;
    flex-direction: row-reverse; }
    #home-header .login-or-register-nav .container p {
      color: white; }
      #home-header .login-or-register-nav .container p a {
        color: white;
        font-weight: 800;
        text-decoration: none;
        transition: .3s ease;
        border-bottom: solid 1px white; }
        #home-header .login-or-register-nav .container p a:hover {
          color: #767676; }

#home-header .hamburguer-icon {
  background: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
  display: none; }
  @media (max-width: 480px) {
    #home-header .hamburguer-icon {
      display: block; } }

#home-header .hamburguer-icon:focus {
  outline: 0; }

#home-header .hamburguer-icon .line {
  background: #231f20;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform .6s linear; }

#home-header .hamburguer-icon .line2 {
  top: auto;
  bottom: 10px; }

#home-header #hamburguer-nav-button.active .line1 {
  transform: rotate(-405deg) translateY(5.5px); }

#home-header #hamburguer-nav-button.active .line2 {
  transform: rotate(405deg) translateY(-5.5px); }

#home-header .logo-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  #home-header .logo-input-container .input-container .search-container {
    position: relative; }
    @media (max-width: 480px) {
      #home-header .logo-input-container .input-container .search-container {
        display: none; }
        #home-header .logo-input-container .input-container .search-container.active {
          display: block;
          position: absolute;
          z-index: 3;
          left: 22px;
          top: 133px; } }
    #home-header .logo-input-container .input-container .search-container input {
      border: solid 1px #767676;
      height: 40px;
      width: 330px;
      margin: 0;
      padding: 0 12px; }
      #home-header .logo-input-container .input-container .search-container input:focus {
        outline: none; }
      @media (max-width: 640px) {
        #home-header .logo-input-container .input-container .search-container input {
          width: 250px; } }
      @media (max-width: 480px) {
        #home-header .logo-input-container .input-container .search-container input {
          width: calc(100vw - 44px); } }
    #home-header .logo-input-container .input-container .search-container .search-btn {
      background: #cc0d1f;
      color: white;
      text-transform: uppercase;
      font-weight: 800;
      border: none;
      height: 100%;
      position: absolute;
      right: 0;
      padding: 0 16px;
      height: 40px;
      margin-left: -8px; }
      #home-header .logo-input-container .input-container .search-container .search-btn:hover {
        cursor: pointer; }
  #home-header .logo-input-container .input-container #search-mobile-button {
    border: none;
    background: transparent;
    color: #cc0d1f;
    font-size: 16px;
    display: none;
    cursor: pointer; }
    @media (max-width: 480px) {
      #home-header .logo-input-container .input-container #search-mobile-button {
        display: block; } }
    #home-header .logo-input-container .input-container #search-mobile-button.active {
      display: block; }

#home-header .main-nav {
  width: 100%;
  background: #cc0d1f; }
  @media (max-width: 480px) {
    #home-header .main-nav {
      display: none; } }
  #home-header .main-nav .container ul {
    margin: 0;
    display: flex;
    list-style: none;
    padding-top: 14px;
    padding-bottom: 14px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap; }
    #home-header .main-nav .container ul li {
      flex: 0 0 calc(20% - 100px);
      margin-right: 20px; }
      #home-header .main-nav .container ul li:last-child {
        margin-right: 0; }
      #home-header .main-nav .container ul li a {
        white-space: nowrap;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        transition: .3s ease; }
        #home-header .main-nav .container ul li a:hover {
          color: #767676; }
    @media (max-width: 768px) {
      #home-header .main-nav .container ul {
        justify-content: space-between; } }

.homepage-main {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem; }
  @media (max-width: 480px) {
    .homepage-main {
      margin-top: -.8rem; } }
  .homepage-main .sidebar-pagination-container {
    grid-row: 1 / 3;
    background: #e2dedb;
    transition: .3s ease;
    display: none; }
    .homepage-main .sidebar-pagination-container.active {
      display: block; }
    @media (max-width: 480px) {
      .homepage-main .sidebar-pagination-container {
        position: absolute;
        opacity: 0; }
        .homepage-main .sidebar-pagination-container.active {
          display: block;
          opacity: initial;
          width: 100%;
          left: 0;
          text-align: center; } }
    .homepage-main .sidebar-pagination-container ul {
      margin: 0;
      list-style: none;
      padding-left: 14px;
      padding-bottom: 14px; }
      .homepage-main .sidebar-pagination-container ul li {
        margin-top: 20px;
        font-size: 22px; }
        .homepage-main .sidebar-pagination-container ul li::before {
          content: '•';
          font-size: 24px; }
        .homepage-main .sidebar-pagination-container ul li a {
          color: #231f20;
          text-decoration: none; }
          .homepage-main .sidebar-pagination-container ul li a:hover {
            text-decoration: underline; }
  .homepage-main .hero-banner-container {
    grid-column: 2/6;
    width: 100%;
    height: 100%;
    background: #acacac;
    min-height: 100px; }
  .homepage-main .hero-text-container {
    grid-row: 2/3;
    grid-column: 2/6; }
    .homepage-main .hero-text-container p {
      margin: 0;
      font-weight: 400;
      color: black; }
    .homepage-main .hero-text-container h2 {
      font-weight: 400;
      margin: 0 0 8px 0; }
  @media (max-width: 1024px) {
    .homepage-main {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 1rem; }
      .homepage-main .sidebar-pagination-container {
        grid-row: 1 / 3;
        grid-column: 1/3; }
        .homepage-main .sidebar-pagination-container ul li::before {
          content: '•';
          font-size: 16px; }
        .homepage-main .sidebar-pagination-container ul li a {
          font-size: 16px; }
      .homepage-main .hero-banner-container {
        grid-column: 3/8; }
      .homepage-main .hero-text-container {
        grid-row: 2 / 4;
        grid-column: 3 / 8; } }
  @media (max-width: 480px) {
    .homepage-main {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      grid-gap: 1rem; }
      .homepage-main .sidebar-pagination-container {
        grid-row: unset;
        grid-column: unset; }
        .homepage-main .sidebar-pagination-container ul li::before {
          content: '•';
          font-size: 16px; }
        .homepage-main .sidebar-pagination-container ul li a {
          font-size: 16px; }
      .homepage-main .hero-banner-container {
        grid-column: unset; }
      .homepage-main .hero-text-container {
        grid-row: unset;
        grid-column: unset; } }

.footer-container {
  background: #cc0d1f;
  min-height: 200px;
  margin-bottom: 30px; }

.product-main {
  background: #fff;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex; }
  @media (max-width: 480px) {
    .product-main {
      flex-direction: column; } }
  .product-main .sidebar-pagination-container {
    background: #e2dedb;
    transition: .3s ease;
    display: none; }
    .product-main .sidebar-pagination-container.active {
      display: block; }
    @media (max-width: 480px) {
      .product-main .sidebar-pagination-container {
        position: absolute;
        opacity: 0; }
        .product-main .sidebar-pagination-container.active {
          display: block;
          opacity: initial;
          width: 100%;
          left: 0;
          text-align: center; } }
    .product-main .sidebar-pagination-container ul {
      margin: 0;
      list-style: none;
      padding-left: 14px;
      padding-bottom: 14px; }
      .product-main .sidebar-pagination-container ul li {
        margin-top: 20px;
        font-size: 22px; }
        .product-main .sidebar-pagination-container ul li::before {
          content: '•';
          font-size: 24px; }
        .product-main .sidebar-pagination-container ul li a {
          color: #231f20;
          text-decoration: none; }
          .product-main .sidebar-pagination-container ul li a:hover {
            text-decoration: underline; }
  .product-main .page-location {
    position: absolute;
    left: 34px;
    top: 0; }
    .product-main .page-location p {
      margin: 16px 0;
      color: #767676; }
      .product-main .page-location p .homepage-link {
        text-decoration: none; }
        .product-main .page-location p .homepage-link:hover {
          text-decoration: underline;
          color: #000; }
        .product-main .page-location p .homepage-link:visited {
          color: #000; }
      .product-main .page-location p .actual-page {
        color: #cc0d1f; }
  .product-main .filters-container {
    border: solid 1px gainsboro;
    min-width: 220px;
    padding: 20px;
    margin-right: 1rem; }
    .product-main .filters-container .title-filter {
      color: #cc0d1f;
      text-transform: uppercase;
      margin: 0; }
    .product-main .filters-container .filter-secondary-title {
      margin: 16px 0 0 0;
      color: #80bdb8;
      text-transform: uppercase; }
    .product-main .filters-container .filter-list {
      margin: 10px 0 0 0;
      list-style: none;
      padding: 0; }
      .product-main .filters-container .filter-list li {
        display: flex;
        align-items: center; }
        .product-main .filters-container .filter-list li::before {
          content: '•';
          font-size: 18px; }
        .product-main .filters-container .filter-list li button {
          background: transparent;
          font-size: 18px;
          border: none;
          cursor: pointer;
          margin: 0;
          padding: 0;
          margin-left: 4px;
          color: #767676;
          text-decoration: none; }
          .product-main .filters-container .filter-list li button:hover {
            text-decoration: underline; }
    .product-main .filters-container .colors-picker-container {
      margin-top: 12px;
      margin-bottom: 20px; }
      .product-main .filters-container .colors-picker-container .color-btn {
        width: 50px;
        height: 30px;
        cursor: pointer;
        border: none;
        background: unset;
        transition: .5s ease; }
        .product-main .filters-container .colors-picker-container .color-btn.orange {
          background: #ff4400; }
        .product-main .filters-container .colors-picker-container .color-btn.yellow {
          background: #f4b804; }
        .product-main .filters-container .colors-picker-container .color-btn.green {
          background: #80bdb8; }
        .product-main .filters-container .colors-picker-container .color-btn:focus {
          transform: scale(0.95); }
  .product-main .items-section {
    width: 100%; }
    .product-main .items-section .section-title {
      color: #cc0d1f;
      margin: 0; }
    .product-main .items-section hr {
      border: none;
      border-bottom: solid 1px #dddddd; }
    .product-main .items-section .items-header {
      display: flex;
      justify-content: space-between; }
      .product-main .items-section .items-header #menu-icon-01 {
        color: #80bdb8;
        cursor: pointer; }
      .product-main .items-section .items-header #menu-icon-02 {
        color: #767676;
        cursor: pointer;
        margin-left: 12px; }
      .product-main .items-section .items-header span {
        text-transform: uppercase;
        color: #767676;
        margin-right: 8px;
        font-size: 12px;
        font-weight: 700; }
      .product-main .items-section .items-header #order-select {
        width: 165px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        padding: 3px 1rem;
        padding-right: 2rem; }
        .product-main .items-section .items-header #order-select:focus {
          outline: none; }
    .product-main .items-section .products-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .product-main .items-section .products-container .product-card {
        flex: 0 0 22%;
        margin: 8px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        .product-main .items-section .products-container .product-card .product-image {
          border: 1px solid #e6e6e6;
          max-width: 100%; }
        .product-main .items-section .products-container .product-card .product-name {
          color: #767676;
          text-transform: uppercase;
          text-align: center;
          margin: 4px 0 0 0;
          font-size: 14px;
          font-weight: 400; }
        .product-main .items-section .products-container .product-card .price-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%; }
          .product-main .items-section .products-container .product-card .price-container .product-offer-price {
            color: gray;
            font-size: 12px;
            text-decoration: line-through;
            margin-right: 14px; }
          .product-main .items-section .products-container .product-card .price-container .product-price {
            text-align: center;
            color: #c70e20;
            font-weight: 800;
            font-size: 16px;
            margin: 6px 0; }
        .product-main .items-section .products-container .product-card .buy-button {
          margin: 0 auto;
          font-weight: 700;
          border: none;
          background: #80bdb8;
          color: #fff;
          padding: 6px 10px;
          width: 100%;
          text-transform: uppercase;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer; }
          .product-main .items-section .products-container .product-card .buy-button:focus {
            outline: none; }
    @media (max-width: 1024px) {
      .product-main .items-section .product-card {
        max-width: 180px; } }
    @media (max-width: 768px) {
      .product-main .items-section .product-card {
        max-width: 140px; } }
    @media (max-width: 580px) {
      .product-main .items-section .section-title {
        margin: 8px 0; }
      .product-main .items-section #menu-icon-01 {
        display: none; }
      .product-main .items-section #menu-icon-02 {
        display: none; }
      .product-main .items-section .product-card {
        min-width: 110px; }
        .product-main .items-section .product-card .buy-button {
          display: none; } }

#paginate .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9d9d9d;
  margin-top: 8px; }
  #paginate .controls div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800; }
    #paginate .controls div:not(.numbers), #paginate .controls div.numbers div {
      width: 40px;
      height: 40px; }
    #paginate .controls div:not(.numbers):hover,
    #paginate .controls div.numbers div:hover,
    #paginate .controls div.numbers div.active {
      color: #cc0d1f; }

.contact-main .contact h2 {
  text-align: center;
  margin-bottom: 0; }

.contact-main .contact form {
  background-color: var(--gray);
  padding: 2rem;
  border-radius: 2rem; }

@media (min-width: 768px) {
  .contact-main .contact form {
    max-width: 800px;
    margin: 0 auto; }
  .contact-main .contact .form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .contact-main .contact .field {
    flex: 0 0 calc(50% - 1rem); } }

.contact-main .contact .field {
  display: flex;
  margin-bottom: 1rem; }

.contact-main .contact .field label {
  flex: 0 0 90px;
  color: var(--white); }

.contact-main .contact .field input[type="text"],
.contact-main .contact .field input[type="tel"],
.contact-main .contact .field input[type="mail"],
.contact-main .contact .field textarea {
  flex: 1;
  height: 2.4rem; }

.contact-main .contact .w-100 {
  flex: 0 0 100%; }

.contact-main .contact .field textarea {
  height: 5rem; }

.contact-main .contact .submit-form {
  display: flex;
  justify-content: flex-end; }
  .contact-main .contact .submit-form input {
    background: #cc0d1f;
    color: #fff;
    outline: none;
    border: none;
    padding: 8px 30px;
    border-radius: 8px; }
